.ui-grid-cell-contents{
	cursor: pointer;
}


label::after {
	width: 50px;
	content: ":";
	margin-right:25px;
}

div.ingredients-div {
	display: inline-block;
	vertical-align: top;
}
div.ingredients-div p {
	margin-bottom: 0px;
}
