.ui-grid-cell-contents{
	cursor: pointer;
}

.ui-grid-contents-wrapper{
	background-crolor: aliceblue;
	opacity: 0.8;
}
.ui-grid-contents-wrapper:hover{
	opacity: 1;
}
.ui-grid-row:hover .ui-grid-cell {
	background-color: beige;
}

html, body, section.content, section.container, section.ng-scope, .recipes-container {
	min-height: 500px;
}
body {
	background-color: transparent;
}
/* .recipes-container {
	background: url("background_smoothie.jpeg");
	background-size: 1100px;
	background-repeat: no-repeat;
	background-position:top;
} */
label::after {
	width: 50px;
	/* content: ":"; */
	margin-right:25px;
}

div.ingredients-div {
	display: inline-block;
	vertical-align: top;
}
div.ingredients-div p {
	margin-bottom: 0px;
}
