.ui-grid-cell-contents{
	cursor: pointer;
}

.ui-grid-contents-wrapper{
	background-crolor: aliceblue;
	opacity: 0.8;
}
.ui-grid-contents-wrapper:hover{
	opacity: 1;
}
.ui-grid-row:hover .ui-grid-cell {
	background-color: beige;
}

html, body, section.content, section.container, section.ng-scope, .recipes-container {
	min-height: 500px;
}
body {
	background-color: transparent;
}
/* .recipes-container {
	background: url("background_smoothie.jpeg");
	background-size: 1100px;
	background-repeat: no-repeat;
	background-position:top;
} */
label::after {
	width: 50px;
	/* content: ":"; */
	margin-right:25px;
}

div.ingredients-div {
	display: inline-block;
	vertical-align: top;
}
div.ingredients-div p {
	margin-bottom: 0px;
}
section.container.recipes {
	background: url('../img/backgrounds/bg-pattern.png'), linear-gradient(to left, #7b4397, #dc2430);
	height: 100%;
	min-height: 100vh;
	width: 100vw;
	color: white;
}
.text-align-center {
	text-align:center;
}
.recipes-body a {
	margin: 0 5px;
	text-align: center;
}
div.center {
	width: 100%;
    margin: 0 auto;
    text-align: center;
}

/* cancels the weird delay for ng-if */
.fade-in.ng-animate { 
	-webkit-animation: none 0s; 
	-moz-animation: none 0s;  /* Firefox < 16 */
	 -ms-animation: none 0s;  /* Internet Explorer */
	  -o-animation: none 0s;  /* Opera < 12.1 */
		 animation: none 0s;
}

.fade-in {
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	 -ms-animation: fadein 2s; /* Internet Explorer */
	  -o-animation: fadein 2s; /* Opera < 12.1 */
		 animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.gram-input {
	text-align: center;
}
.gram-input input {
	color: black;
}
.gram-input p {
	display: inline-block;
}
.gram-input input[type=text] {
	width: 100%;
	max-width: 250px;
	min-width: 150px;	
	color: black;
}

.gram-submit {
	padding-top: 75px;
} 

section.recipes .btn.btn-outline.btn-xl.js-scroll-trigger:hover {
	color: #fdcc52;
	background-color: white;
}

.bold {
	font-weight: 900;
}

.recipes-listing-buttons {
	padding-top: 50px;
}
.recipes-listing-buttons a {
	width: 200px;
	margin: 10px;
}

section.container.recipes .recipe-result {
	border: white;
    border-style: solid;
	border-radius: 41px;
	text-align: center;
	margin: 20px auto;
	padding: 20px 0;
	max-width: 600px;
	cursor: pointer;
}

section.container.recipes .recipe-result:hover {
	background-color: wheat;
}

.main.btn.btn-outline.btn-xl {
	background-color: white;
	color: #fdcc52;
}

#sort-options select {
	background-color: white;
	color: black;
}

section.features{
	background-color: #fdcc52;
}

section.features div.section-heading {
	margin-bottom: 0px;
}