<section class="container recipes recipes-container">
  <h3> {{ vm.details.name }} </h3>
  
  <br>

  <div class="col-xs-12 col md-6">
    <label>Nutritional</label>
    <ul>
      <li>Calories: {{ vm.details.calories }}</li>
      <li>Protein: {{ vm.details.protein }}</li>
      <li>Fat: {{ vm.details.fat }}</li>
      <li>Carbs: {{ vm.details.carbs }}</li>
    </ul>
  </div>

  <div class="col-xs-12 col-md-6">
    <label>Ingredients</label>
    <ul>
      <li ng-repeat="ingredient in vm.details.ingredients">{{ ingredient }}</li>
    </ul>
  </div>

  <a ng-click="$back()" class="pull-right btn btn-outline btn-xl js-scroll-trigger">Back</a>

</section>
