<section class="container search recipes-container">

  <!---- Search for recipes ------>
  <h2>Bored with your current shake?</h2>

  <p>Find a delicious protein shake!</p>

  Search by: 
  <label ng-repeat="option in vm.searchOptions">
    <input type="checkbox" ng-model="option.checked"/> {{option.name}}
  </label>

  <form name="search" style="margin-top:20px;" class="col-xs-12 col-md-offset-4 col-md-4">
    <fieldset class="row">
      <div class="input-group">
        <input autocomplete="off" id="searchText" name="searchText" class="form-control"
               ng-model="vm.searchText" placeholder="search" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="vm.search();">Search</button>
        </span>
      </div>
    </fieldset>
  </form>

  <div>
    Or Select a filter:
  </div>
  <form>
    <label ng-repeat="option in vm.filterKeywords">
      <input type="radio" ng-model="vm.selectedFilter" value=red/> {{option.name}}
    </label>
  </form>
  selected: {{vm.selectedFilter}}

  <!--
  <button class="btn btn-primary" ng-click="vm.seed();">SEED</button>
  <!--- Results ---->
  <div ng-if="vm.resultsGrid.data.length > 0" class="row col-xs-12" style="margin-top:50px;text-align:center">
    <div ui-grid="vm.resultsGrid" ui-grid-selection class="myGrid"></div>
  </div>

  


</section>
