<section class="container search recipes-container">

  <!---- Search for recipes ------>
  <h2>Bored with your current shake?</h2>

  <p>Find a delicious protein shake!</p>

  <div class="col-xs-12">
    Search by: 
    <label ng-repeat="option in vm.searchOptions">
      <input type="checkbox" ng-model="option.checked"/> {{option.name}}
    </label>
  </div>

  <form name="search" style="margin-top:20px;" class="col-xs-12">
    <fieldset class="row">
      <div class="input-group">
        <input autocomplete="off" id="searchText" name="searchText" class="form-control"
               ng-model="vm.searchText" placeholder="search" autofocus>
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="vm.search();">Search</button>
        </span>
      </div>
    </fieldset>
  </form>

  <div class="col-xs-12">
    Or Select a filter:
    <form>
      <select ng-model="vm.selectedFilter">
        <option ng-repeat="option in vm.filterKeywords" value="{{option.value}}">{{ option.name }}</option>
      </select>
    </form>
  </div>


  <!--
  <button class="btn btn-primary" ng-click="vm.seed();">SEED</button>
  <!--- Results ---->
  <div ng-if="vm.resultsGrid.data.length > 0" class="row col-xs-12" style="margin-top:50px;text-align:center">
    Show columns
    <input type="checkbox" ng-model="vm.columnMap.name.visibility" ng-change="vm.toggleVisibleRow('name')"> <b>name</b>
    <input type="checkbox" ng-model="vm.columnMap.flavour.visibility" ng-change="vm.toggleVisibleRow('flavour')"> <b>flavour</b>
    <input type="checkbox" ng-model="vm.columnMap.calories.visibility" ng-change="vm.toggleVisibleRow('calories')"> <b>calories</b>
    
    <div class=row>
      <div ui-grid="vm.resultsGrid" ui-grid-selection class="myGrid"></div>
    </div>
  </div>

  


</section>
